# Object files
*.o
*.lo

# Libraries
*.a
*.so
*.la

# Autotools artifacts
.deps/
.libs/
autom4te.cache/
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile.in
Makefile

# CMake artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
